.container {
  display: flex;
  margin-top: 3rem;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.imageContrainer {
  width: 100%;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
