.bitbot {
  display: inline-flex;
  position: relative;
  left: 15%;
  top: 27%;
}

.placebid {
  position: relative;
  width: 428px;
  height: 58px;
  
            
}

.bitbox {
  position: absolute;
  width: 176px;
  height: 68px;
  left: 462px;
  top: 388px;
  background: #ffbe3e;
  box-shadow: 8px 8px 0px #d33e3e;
}

.bitbuttony {
  position: relative;
  display: flex;
  align-items: center;
  background: #ffbe3e;
  height: 60px;
  width: 150px;
  right: 6px;
  position: absolute;
  top: -6px;
  border-style: none;
}
.sattletext{
          position: relative;
          left: 14%;
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 36px;
          text-align: center;
          letter-spacing: 0.1px;
          color: #ffffff;
}


.bitbuttonr {
  display: revert;
  align-items: center;
  background: #f02d2d;
  height: 60px;
  width: 150px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  right: -10%;
  position: absolute;
  top: -30%;
}

.textbid {
  position: relative;
  left: 34%;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.textinput {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1.1px;
  color: #d33e3e;
}
.textbit1 {
  position: absolute;
  font-style: normal;
  top: 125%;
  left: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #ffffff;
  top: 10;
}
.textbit2 {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  top: 180%;
  left: 147px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.textbit3{
          position: absolute;
          font-style: normal;
          font-weight: 600;
          top: 276%;
          left: 5%;
          width: 60%;
          font-size: 12px;
          letter-spacing: 0.1px;
          color: #f9f9f9;
}
.textbox {
  position: absolute;
  width: 325px;
  height: 300px;
  left: 146px;
  top: 38px;
  display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 30px;
          
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* or 28% */
  
  letter-spacing: 1px;

  color: #ffffff;
}
.timenun{
          font-size: 84px;
}
.timetext{
          font-size: 30px;
}
.imgchecken {
  position: relative;
  display: flex;
}
.imgposition {
  position: absolute;
  left: 5%;
  top: 3%;
  width: 91%;
}
.imgbackbocky {
  align-items: center;
  
  height: 710px;
  width: 604px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  right: 15%;
  position: absolute;
}
.imgbackbockr {
  display: flex;
  align-items: center;
  background: #e4e4e481;
  height: 640px;
  width: 604px;
  right: 6px;
  position: absolute;
  top: -6px;
  border-style: none;
}
.textokenid {
  position: absolute;
  bottom: 5%;
  font-style: normal;
  font-weight: 1000;
  right: 26px;
  font-size: 32px;
  line-height: 36px;
  /* identical to box height, or 90% */
  letter-spacing: 0.1px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 0, 0);
  color: #ffffff;
}

.bannerbox {
  background-color: #d33e3e;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.1px;
  color: #ffbe3e;
  vertical-align: center;
  text-align: center;
  height: 144px;
}

.textbanner {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 75%;
  letter-spacing: 0.1px;
  color: #ffbe3e;
  position: absolute;
  vertical-align: center;
  text-align: center;
}

@media screen and (max-width: 1600px) {
  .imgchecken {
    position: relative;
    left: 0;
    top: 40px;
  }
  .imgposition {
    position: absolute;
    left: 5%;
    top: 3%;
    width: 91%;
  }
  .imgbackbocky {
    display: revert;
    align-items: center;
    height: 710px;
    width: 604px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 3%;
    position: absolute;
  }
  .imgbackbockr {
    display: flex;
    align-items: center;
    background: #e4e4e481;
    height: 640px;
    width: 604px;
    right: 6px;
    position: absolute;
    top: -6px;
    border-style: none;
  }
  .textokenid {
          position: absolute;
          bottom: 5%;
          font-style: normal;
          font-weight: 1000;
          right: 26px;
          font-size: 32px;
          line-height: 36px;
          /* identical to box height, or 90% */
          letter-spacing: 0.1px;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgb(255, 0, 0);
          color: #ffffff;
  }
  .bitbot {
    display: inline-flex;
    position: relative;
    left: 5%;
    top: 37%;
  }
  .placebid {
    position: relative;
    width: 458px;
    height: 58px;
    background: #fff;
    color: #000;
  }
  .bitbox {
    position: absolute;
    width: 176px;
    height: 68px;
    left: 462px;
    top: 388px;
    background: #ffbe3e;
    box-shadow: 8px 8px 0px #d33e3e;
  }
  .textbid {
    position: relative;
    left: 34%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textinput {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.1px;
    color: #d33e3e;
  }
  .textbit1 {
  position: absolute;
  font-style: normal;
  top: 125%;
  left: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #ffffff;
  top: 10;
  }
  .textbit2 {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  top: 180%;
  left: 147px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #ffffff;
  }
  .textbit3{
          position: absolute;
          font-style: normal;
          font-weight: 600;
          top: 276%;
          left: 5%;
          width: 50%;
          font-size: 12px;
          letter-spacing: 0.1px;
          color: #f9f9f9;
}
  .textbox {
  position: absolute;
  width: 325px;
  height: 300px;
  left: 146px;
  top: 38px;
  display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 30px;
          
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  /* or 28% */
  
  letter-spacing: 1px;

  color: #ffffff;
  }
}
@media screen and (max-width: 1200px) {
  .imgchecken {
    position: relative;
    left: 0;
    top: 14%;
  }
  .imgposition {
    position: absolute;
    left: 5%;
    top: 3%;
    width: 91%;
  }
  .imgbackbocky {
    display: revert;
    align-items: center;
    height: 540px;
    width: 444px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 3%;
    position: absolute;
  }
  .imgbackbockr {
    display: flex;
    align-items: center;
    background: #ffbf3ebc;
    height: 440px;
    width: 444px;
    right: 6px;
    position: absolute;
    top: -6px;
    border-style: none;
  }
  .textokenid {
          position: absolute;
          bottom: 5%;
          font-style: normal;
          font-weight: 1000;
          right: 26px;
          font-size: 32px;
          line-height: 36px;
          /* identical to box height, or 90% */
          letter-spacing: 0.1px;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgb(255, 0, 0);
          color: #ffffff;
  }
  .bitbot {
    position: absolute;
    width: 100wh;
    height: 420px;
    left: 3%;
    top: 48%;
  }

  .placebid {
    position: relative;
    width: 420px;
    height: 58px;
    background: #fff;
    color: #000;
  }

  .bitbox {
    position: absolute;
    width: 176px;
    height: 68px;
    left: 462px;
    top: 388px;
    background: #ffbe3e;
    box-shadow: 8px 8px 0px #d33e3e;
  }

  .textbid {
    position: relative;
    left: 34%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textinput {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.1px;
    color: #d33e3e;
  }
  .textbit1 {

    position: absolute;
    font-style: normal;
    top: 15%;
    left: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #ffffff;
    top: 10;
  }
  .textbit2 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    top: 24%;
    left: 117px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textbit3{
          position: absolute;
          font-style: normal;
          font-weight: 600;
          top: 35%;
          left: 5%;
          width: 50%;
          font-size: 12px;
          letter-spacing: 0.1px;
          color: #f9f9f9;
}
  .textbox {
          position: absolute;
          width: 325px;
          height: 300px;
          left: 146px;
          top: 38px;
          display: flex;
                flex-direction: column;
                text-align: left;
                font-size: 30px;
                  
          font-style: normal;
          font-weight: 700;
          line-height: 52px;
          /* or 28% */
          
          letter-spacing: 1px;
        
          color: #ffffff;
  }
  .bitbuttonr {
          display: revert;
          align-items: center;
          background: #f02d2d;
          height: 60px;
          width: 150px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          right: -16%;
          position: absolute;
          top:-5%;
        }

  .li {
    font-size: 2rem;
  }
  .spanx {
    font-size: 100px;
  }
  .h1 {
    text-align: center;
  }
}
.imgbackbockr {
          display: flex;
          align-items: center;
          background: #e4e4e481;
          height: 540px;
          width: 504px;
          right: 6px;
          position: absolute;
          top: -6px;
          border-style: none;
        }
@media screen and (max-width: 960px) {
  .imgchecken {
    position: relative;
    left: 0;
    top: 20%;
  }
  .imgposition {
    position: absolute;
    left: 5%;
    top: 3%;
    width: 91%;
  }
  .imgbackbocky {
    display: revert;
    align-items: center;
    height: 440px;
    width: 344px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 3%;
    position: absolute;
  }
  .imgbackbockr {
          display: flex;
          align-items: center;
          background: #e4e4e481;
          height: 420px;
          width: 384px;;
          right: 6px;
          position: absolute;
          top: -6px;
          border-style: none;
        }

  .textokenid {
          position: absolute;
          bottom: 5%;
          font-style: normal;
          font-weight: 1000;
          right: 26px;
          font-size: 32px;
          line-height: 36px;
          /* identical to box height, or 90% */
          letter-spacing: 0.1px;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgb(255, 0, 0);
          color: #ffffff;
          
  }
  .bitbot {
    position: absolute;
    height: 420px;
    left: 3%;
    top: 52%;
  }

  .placebid {
    position: relative;
    width: 320px;
    height: 58px;
    background: #fff;
    color: #000;
  }

  .bitbox {
    position: absolute;
    width: 176px;
    height: 68px;
    left: 462px;
    top: 388px;
    background: #ffbe3e;
    box-shadow: 8px 8px 0px #d33e3e;
  }

  .textbid {
    position: relative;
    left: 34%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textinput {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.1px;
    color: #d33e3e;
  }
  .textbit1 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #ffffff;
    top: 10;
  }
  .textbit2 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    top: 22%;
    left: 117px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textbox {
          position: absolute;
          width: 325px;
          height: 300px;
          left: 116px;
          top: 35px;
          display: flex;
                flex-direction: column;
                text-align: left;
                font-size: 30px;
                  
          font-style: normal;
          font-weight: 700;
          line-height: 37px;
          /* or 28% */
          
          letter-spacing: 1px;
        
          color: #ffffff;
  }
  .timenun{
          font-size: 58px;
}
  .timetext{
          font-size: 24px;
}
  .li {
    font-size: 2rem;
  }
  .spanx {
    font-size: 50px;
  }
  .h1 {
    text-align: center;
  }
  .bannerbox {
    background-color: #d33e3e;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.1px;
    color: #ffbe3e;
    vertical-align: center;
    text-align: center;
    height: 84px;
  }
}
@media screen and (max-width: 750px) {
  .imgchecken {
    position: relative;
    left: 0;
    top: 40px;
  }
  .imgposition {
    position: absolute;
    left: 5%;
    top: 3%;
    width: 91%;
  }
  .imgbackbocky {
    display: revert;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    left: 25%;
    position: absolute;
  }
  .imgbackbockr {
    display: flex;
    align-items: center;
    background: #e4e4e481;
    height: 390px;
    width: 344px;
    right: 6px;
    position: absolute;
    
    top:16%;
    border-style: none;
  }
  .textokenid {
          position: absolute;
          bottom: 5%;
          font-style: normal;
          font-weight: 1000;
          right: 26px;
          font-size: 28px;
          line-height: 36px;
          /* identical to box height, or 90% */
          letter-spacing: 0.1px;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgb(255, 0, 0);
          color: #ffffff;
  }
  .bitbot {
    position: absolute;
    width: 40wh;
    height: 420px;
    left: 25%;
    top: 85%;
  }

  .placebid {
    position: relative;
    width: 320px;
    height: 58px;
    background: #fff;
    color: #000;
  }

  .bitbox {
    position: absolute;
    width: 176px;
    height: 68px;
    left: 462px;
    top: 388px;
    background: #ffbe3e;
    box-shadow: 8px 8px 0px #d33e3e;
  }

  .textbid {
    position: relative;
    left: 34%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textinput {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.1px;
    color: #d33e3e;
  }
  .textbit1 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #ffffff;
    top: 10;
  }
  .textbit2 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    top: 22%;
    left: 117px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textbox {
          position: absolute;
          width: 125px;
          height: 300px;
          left: 116px;
          top: 35px;
          display: flex;
                flex-direction: column;
                text-align: left;
                font-size: 30px;
                  
          font-style: normal;
          font-weight: 700;
          line-height: 37px;
          /* or 28% */
          
          letter-spacing: 1px;
        
          color: #ffffff;
  }

  .li {
    font-size: 2rem;
  }
  .spanx {
    font-size: 50px;
  }
  .h1 {
    text-align: center;
  }
  .bannerbox {
    background-color: #d33e3e;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.1px;
    color: #ffbe3e;
    vertical-align: center;
    text-align: center;
    height: 74px;
  }
}
@media screen and (max-width: 560px) {
  .imgchecken {
    position: relative;
    left: 0;
    top: 90px;
  }
  .imgposition {
    position: absolute;
    left: 5%;
    top: 3%;
    width: 91%;
  }
  .imgbackbocky {
    display: revert;
    align-items: center;
    height: 330px;
    width: 274px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    left: 22%;
    position: absolute;
  }
  .imgbackbockr {
    display: flex;
    align-items: center;
    background: #e4e4e481;
    height: 360px;
    width: 304px;
    right: 6px;
    left: -6%;
    position: absolute;
    top: 10%;
    border-style: none;
  }
  .textokenid {
          position: absolute;
          bottom: 5%;
          font-style: normal;
          font-weight: 1000;
          right: 26px;
          font-size: 32px;
          line-height: 36px;
          /* identical to box height, or 90% */
          letter-spacing: 0.1px;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgb(255, 0, 0);
          color: #ffffff;
  }
  .bitbot {
    position: absolute;
    width: 40wh;
    height: 420px;
    left: 15%;
    top: 80%;
  }

  .placebid {
    position: relative;
    width: 320px;
    height: 58px;
    background: #fff;
    color: #000;
  }

  .bitbox {
    position: absolute;
    width: 176px;
    height: 68px;
    left: 462px;
    top: 388px;
    background: #ffbe3e;
    box-shadow: 8px 8px 0px #d33e3e;
  }

  .textbid {
    position: relative;
    left: 34%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textinput {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.1px;
    color: #d33e3e;
    
  }
  .textbit1 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #ffffff;
    left: 0;
    top: 15%;
  }
  .textbit2 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    top: 24%;
    left: 20;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textbox {
          position: absolute;
          left: 116px;
          top: 35px;
          display: flex;
                flex-direction: column;
                text-align: left;
                font-size: 30px;
                  
          font-style: normal;
          font-weight: 700;
          line-height: 37px;
          /* or 28% */
          
          letter-spacing: 1px;
        
          color: #ffffff;
  }

  .li {
    font-size: 18px;
    display: inline;
  }
  .spanx {
    font-size: 35px;
  }
  .bannerbox {
    background-color: #d33e3e;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #ffbe3e;
    vertical-align: center;
    text-align: center;
    height: 64px;
  }
}
@media screen and (max-width: 480px) {
  .imgchecken {
    position: relative;
    left: 0;
    top: 10%;
  }
  .imgposition {
    position: absolute;
    left: 5%;
    top: 3%;
    width: 91%;
  }
  .imgbackbocky {
    display: revert;
    align-items: center;
    height: 260px;
    width: 204px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    left: 22%;
    position: absolute;
  }
  .imgbackbockr {
    display: flex;
    align-items: center;
    background: #e4e4e481;
    height: 290px;
    width: 254px;
    right: 6px;
    position: absolute;
    top: 20%;
    border-style: none;
  }
  .textokenid {
          position: absolute;
          bottom: 7%;
          font-style: normal;
          font-weight: 1000;
          right: 10px;
          font-size: 16px;
          line-height: 36px;
          /* identical to box height, or 90% */
          letter-spacing: 0.1px;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: rgb(255, 0, 0);
          color: #ffffff;
  }
  .bitbot {
    position: absolute;
    width: 40wh;
    height: 420px;
    left: 15%;
    
  }

  .placebid {
    position: relative;
    width: 260px;
    height: 38px;
    background: #fff;
    color: #000;
  }

  .bitbox {
    position: absolute;
    width: 176px;
    height: 68px;
    left: 462px;
    top: 388px;
    background: #ffbe3e;
    box-shadow: 8px 8px 0px #d33e3e;
  }
  .bitbuttony {
    display: flex;
    align-items: center;
    background: #ffbe3e;
    height: 45px;
    width: 100px;
    right: 6px;
    position: absolute;
    top: -6px;
    border-style: none;
  }
  .bitbuttonr {
    display: revert;
    align-items: center;
    background: #f02d2d;
    height: 45px;
    width: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: -6%;
    position: absolute;
    top: -3%;
  }
  .sattletext{
          position: relative;
          left: 14%;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
          letter-spacing: 0.1px;
          color: #ffffff;
}
  .textbid {
    position: relative;
    left: 34%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textinput {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.1px;
    color: #d33e3e;
  }
  .textbit1 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #ffffff;
    left: 0;
    top: 37px;
  }
  .textbit2 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    top: 44px;
    left: 172px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
  }
  .textbit3{
          position: absolute;
          font-style: normal;
          font-weight: 600;
          top: 30%;
          left: 5%;
          width: 100%;
          font-size: 12px;
          letter-spacing: 0.1px;
          color: #f9f9f9;
}
  .textbox {
          position: absolute;
          left: -5px;
          top: 35px;
          display: flex;
                flex-direction: row;
                text-align: left;
                font-size: 24px;
                  
          font-style: normal;
          font-weight: 700;
          line-height: 37px;
          /* or 28% */
          
          letter-spacing: 1px;
        
          color: #ffffff;
    
  }
  .timenun{
          font-size: 48px;
}
  .timetext{
          font-size: 22px;
}

  .li {
    font-size: 18px;
    display: inline;
  }
  .spanx {
    font-size: 36px;
  }
  .bannerbox {
    background-color: #d33e3e;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #ffbe3e;
    vertical-align: center;
    text-align: center;
    height: 64px;
  }
}
