.logo {
  display: flex;
  justify-content: space-between;
  background: #fff;
}
.logoimg {
  left: -45px;
  top: -13px;
  position: relative;
  width: 300px;
}

.bottomconnect {
  align-items: center;
  background: none;
  border-style: none;
}

.bottomconnectimg {
  width: 150px;
}

.chainbuttomr {
  display: revert;
  align-items: center;
  background: #f02d2d;
  height: 60px;
  width: 130px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* right: 160px;
  position: absolute;
  top: 7%; */
}

.chainbuttomy {
  display: flex;
  align-items: center;
  background: #ffbe3e;
  height: 60px;
  width: 130px;
  right: 6px;
  position: absolute;
  top: -6px;
  border-style: none;
}
.addressbuttomr {
  display: revert;
  align-items: center;
  background: #f02d2d;
  height: 60px;
  width: 130px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* right: 10px; */
  /* position: absolute; */
  /* top: 7%; */
}
.addressbuttomy {
  display: flex;
  align-items: center;
  background: #ffbe3e;
  font-size: 12px;
  height: 60px;
  width: 130px;
  right: 6px;
  position: absolute;
  top: -6px;
  border-style: none;
}
.wrongnetworkr {
  display: flex;
  align-items: center;
  background: #f02d2d;
  height: 60px;
  width: 130px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  right: 10px;
  top: 7%;
}
.wrongnetworky {
  position: relative;
  display: flex;
  align-items: center;
  background: #ffbe3e;
  height: 60px;
  width: 130px;
  right: 6px;
  top: -6px;
  border-style: none;
}

@media screen and (max-width: 750px) {
  .logo {
    display: flex;
    justify-content: space-between;
    background: #fff;
  }
  .logoimg {
    left: -25px;
    top: -13px;
    position: relative;
    width: 200px;
  }
  .bottomconnect {
    display: absolute;
    align-items: center;
    background: none;
    border-style: none;
    top: 15px;
    right: 20px;
    position: absolute;
  }
  .bottomconnectimg {
    width: 100px;
  }

  .chainbuttomr {
    display: revert;
    align-items: center;
    background: #f02d2d;
    height: 60px;
    width: 130px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 160px;
    position: absolute;
    top: 3%;
  }
  .chainbuttomy {
    display: flex;
    align-items: center;
    background: #ffbe3e;
    height: 60px;
    width: 130px;
    right: 6px;
    position: absolute;
    top: -6px;
    border-style: none;
  }
  .addressbuttomr {
    display: revert;
    align-items: center;
    background: #f02d2d;
    height: 60px;
    width: 130px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 10px;
    position: absolute;
    top: 3%;
  }
  .addressbuttomy {
    display: flex;
    align-items: center;
    background: #ffbe3e;
    font-size: 12px;
    height: 60px;
    width: 130px;
    right: 6px;
    position: absolute;
    top: -6px;
    border-style: none;
  }
  .wrongnetworkr {
    display: flex;
    align-items: center;
    background: #f02d2d;
    height: 60px;
    width: 130px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 10px;
    top: 3%;
  }
  .wrongnetworky {
    position: relative;
    display: flex;
    align-items: center;
    background: #ffbe3e;
    font-size: 12px;
    height: 60px;
    width: 130px;
    right: 6px;
    top: -6px;
    border-style: none;
  }
}
@media screen and (max-width: 560px) {
  .logo {
    display: flex;
    justify-content: space-between;
    background: #fff;
  }
  .logoimg {
    left: -25px;
    top: -13px;
    position: relative;
    width: 150px;
  }
  .bottomconnect {
    display: absolute;
    align-items: center;
    background: none;
    border-style: none;
    top: 15px;
    right: 20px;
    position: absolute;
  }
  .bottomconnectimg {
    width: 70px;
  }
  .chainbuttomr {
    display: revert;
    align-items: center;
    background: #f02d2d;
    height: 40px;
    width: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 130px;
    position: absolute;
    top: 3%;
  }

  .chainbuttomy {
    display: flex;
    align-items: center;
    background: #ffbe3e;
    height: 40px;
    width: 100px;
    right: 6px;
    position: absolute;
    top: -6px;
    border-style: none;
  }

  .addressbuttomr {
    display: revert;
    align-items: center;
    background: #f02d2d;
    height: 40px;
    width: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 10px;
    position: absolute;
    top: 3%;
  }

  .addressbuttomy {
    display: flex;
    align-items: center;
    background: #ffbe3e;
    font-size: 12px;
    height: 40px;
    width: 100px;
    right: 6px;
    position: absolute;
    top: -6px;
    border-style: none;
  }

  .wrongnetworkr {
    display: flex;
    align-items: center;
    background: #f02d2d;
    height: 40px;
    width: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 10px;
    top: 3%;
  }
  .wrongnetworky {
    position: relative;
    display: flex;
    align-items: center;
    background: #ffbe3e;
    font-size: 12px;
    height: 40px;
    width: 100px;
    right: 6px;
    top: -6px;
    border-style: none;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    display: flex;
    justify-content: space-between;
    background: #fff;
  }
  .logoimg {
    left: -25px;
    top: -13px;
    position: relative;
    width: 150px;
  }
  .bottomconnect {
    display: absolute;
    align-items: center;
    background: none;
    border-style: none;
    top: 20px;
    right: 20px;
    position: absolute;
  }
  .bottomconnectimg {
    width: 50px;
  }
  .chainbuttomr {
    display: flex;
    align-items: center;
    background: #f02d2d;
    height: 30px;
    width: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 100px;
    position: absolute;
    top: 3%;
  }
  .chainbuttomy {
    display: flex;
    align-items: center;
    background: #ffbe3e;
    font-size: 8px;
    height: 30px;
    width: 70px;
    right: 6px;
    position: absolute;
    top: -6px;
    border-style: none;
  }
  .addressbuttomr {
    display: revert;
    align-items: center;
    background: #f02d2d;
    height: 30px;
    width: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 10px;
    position: absolute;
    top: 3%;
  }
  .addressbuttomy {
    display: flex;
    align-items: center;
    background: #ffbe3e;
    font-size: 8px;
    height: 30px;
    width: 70px;
    right: 6px;
    position: absolute;
    top: -6px;
    border-style: none;
  }
  .wrongnetworkr {
    display: flex;
    align-items: center;
    background: #f02d2d;
    height: 30px;
    width: 70px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: 10px;
    top: 3%;
  }
  .wrongnetworky {
    position: relative;
    align-items: center;
    background: #ffbe3e;
    height: 30px;
    width: 70px;
    right: 6px;
    top: -6px;
    border-style: none;
  }
}
