.imageBox {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 0;
  transition: all 0.2s;
  /* box-shadow: 4px 4px 0px orangered; */
}

.tokenName {
  position: absolute;
  bottom: 2%;
  left: 2%;
  z-index: 100;
  padding: 3px;
  background-color: #ff2244;
  color: white;
  box-shadow: 2px 2px 0px black;
}

@media screen and (min-width: 750px) {
  .imageBox {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 0;
    transition: all 0.2s;
    /* box-shadow: 4px 4px 0px orangered; */
  }

  .imageBox:hover {
    box-shadow: 5px 5px 0x orangered;
    cursor: pointer;
  }
}
