.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/bodybackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
}

.mainTitle:before {
  content: "";
  position: absolute;
  background-color: #ffbe3e;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
}

.mainTitle::after {
  content: "Under maintainance";
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainTitle {
  position: relative;
  color: white;
  font-size: 3rem;
}
